@import url("https://fonts.googleapis.com/css?family=Anton|Barlow+Condensed|Hind+Siliguri&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: Helvetica;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: #ebc20b;
  color: #363636;
}

.grid .bio_data {
  padding-left: 50px;
}

header {
  height: 100vh;
  width: 100%;
  background-color: #ffffff9f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Hind Siliguri";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .title {
  font-weight: bold;
  color: #ebc20b;
}

header .icons {
  margin: 25px 0;
}

header .icons a {
  font-size: 36px;
  margin: 0 10px;
  color: #3f3f3f;
  position: relative;
  -webkit-transition: 450ms;
  transition: 450ms;
}

header .icons a:hover {
  color: #ebc20b;
  top: 10px;
}

header .bio {
  text-align: left;
  padding: 10px 0;
  width: 400px;
}

header .bio h1 {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

header .arrow {
  margin-top: 45px;
}

header .arrow a {
  font-size: 25px;
  color: #3f3f3f;
  -webkit-transition: 250ms;
  transition: 250ms;
}

header .arrow a:hover {
  color: #ebc20b;
}

header .image {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

header .image img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 5px solid #8383833d;
}

main {
  height: 50vh;
  font-family: "Hind Siliguri";
}

main .contact_form {
  padding: 25px 0;
  text-align: center;
  background-color: #2A2A2A;
}

main .contact_form .form {
  -webkit-box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.03), 5px 5px 15px rgba(255, 255, 255, 0.09);
          box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.03), 5px 5px 15px rgba(255, 255, 255, 0.09);
  width: 400px;
  margin: 0 auto;
  padding: 40px 40px 70px;
  height: 100%;
  border-radius: 5px;
  background-color: #ffffff;
}

main .contact_form .form h2 {
  color: #ebc20b;
  font-weight: 400;
}

main .contact_form .form form {
  margin: 0 auto;
  padding: 25px 15px;
  height: 100%;
  width: 100%;
}

main .contact_form .form form .input_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 100%;
  margin: 25px 0;
}

main .contact_form .form form .input_group label {
  color: #858585;
  padding: 5px 0;
  letter-spacing: 2px;
  font-family: "Barlow Condensed";
}

main .contact_form .form form .input_group input {
  outline: none;
  border: none;
  font-family: "Hind Siliguri";
  background-color: #ffffff;
  -webkit-box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(255, 255, 255, 0.08);
          box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(255, 255, 255, 0.08);
  color: #979797;
  font-size: 16px;
  height: 50px;
  border-radius: 2px;
  padding: 5px;
}

main .contact_form .form form .input_group input::-webkit-input-placeholder {
  font-size: 14px;
}

main .contact_form .form form .input_group input:-ms-input-placeholder {
  font-size: 14px;
}

main .contact_form .form form .input_group input::-ms-input-placeholder {
  font-size: 14px;
}

main .contact_form .form form .input_group input::placeholder {
  font-size: 14px;
}

main .contact_form .form form .input_group button {
  padding: 10px 0;
}

.btn {
  text-decoration: none;
  padding: 15px 25px;
  color: #5e5e5e;
  background-color: #ebc20b;
  border-radius: 2px;
  -webkit-transition: 450ms;
  transition: 450ms;
}

.btn:hover {
  background-color: #333333;
  color: #fff;
}

ul li {
  list-style-type: none;
}

.space {
  padding: 15px;
}

.space_up {
  padding: 15px 0;
}

.space_up_only {
  padding-top: 10px;
}

.bulk_space {
  padding: 55px 15px;
}

.yellow {
  color: #ebc20b;
}
/*# sourceMappingURL=style.css.map */css.map */